@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
    Author: Todd Adcox Jr 
    Date:  12-12-18  

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
/* this is a media query fro screen devices with a max width of 640 pixels, displays the following elements as block, */
@media only screen and (max-width: 640px) {

    table,
    tbody,
    tr,
    td,
    th,
    caption {
        display: block;
    }

    /* doesn't display the thead and h1 elements in mobile styles */
    thead,
    h1 {
        display: none;
    }

    /* displays the caption in white with a gray background, a font size of 1.5em, and a line height of 2em */
    caption {
        color: white;
        background-color: rgb(122, 127, 130);
        font-size: 1.5em;
        line-height: 2em;
    }

    /* This adds a 1-pixel dotted gray border, changes the text color to rgb(11, 12, 145), places the cell using relative positioning, sets the left padding to 40%, and sets the minimum height to 40 pixels. */
    td {
        border: 1px dotted gray;
        color: rgb(11, 12, 145);
        position: relative;
        padding-left: 40%;
        min-height: 40px;
    }

    /* Displays every odd-numbered table row with a background color of rgb(255, 235, 178) and a 2-pixel solid gray border. */
    tr:nth-of-type(odd) {
        background-color: rgb(255, 235, 178);
        border: 2px solid gray;
    }


    td::before {
        content: attr(data-date);
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 5px;
        width: 40%;
    }
}



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
/*This is a media query for screen devices with a minimum width of 641 pixels. */
@media only screen and (min-width: 641px) {

    /*This affects the table element, it is displaying the background image to lht_photo1.png with no tiling and is only showing up in the bottom-right corner of the table with a width of 40%, adds a 6-pixel double border with color value rgb(154, 64, 3), sets the table borders to be collapsed, sets top and bottom margins to 20 pixels, the left and right margins to auto, uses a fixed layout for the table content, and sets the width to 85%. */
    table {
        background-image: url(lht_photo1.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 40%;
        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin: 20px auto 20px auto;
        table-layout: fixed;
        width: 85%;
    }

    /* For every th and td, it adds a 1-pixel solid gray border, sets the font size to 0.85em and has normal weight has 5 pixels of padding space, aligns the cell text with the top of the cell, sets the width to 14.28%, and
    allows the browser to wrap cell text within individual words */
    th,
    td {
        border: 1px solid gray;
        font-size: 0.85em;
        font-weight: normal;
        padding: 5px;
        text-align: top;
        width: 14.28%;
        word-wrap: break-word;
    }

    /* For the td elements, it is setting the background color to rgba(171, 171, 171, 0.6) and sets the text color to rgb(11, 12, 145). */
    td {
        background-color: rgba(171, 171, 171, 0.6);
        color: rgb(11, 12, 145);
    }

/* data cells with the data-date attribute containimg the text “Feb”, changes the background color to rgba(232, 214, 148, 0.6) and adds a gray box shadow with horizontal and vertical offsets of 0 pixels and a blur of 20 pixels*/
    td[data-date*="Feb"] {
        background: rgba(232, 214, 148, 0.6);
        box-shadow: gray 0px 0px 20px inset;
    }

    
/* For the table caption elements, it displays it at the top of the table, centers the text, adds 10 pixels of padding to the bottom, sets the font size to 1.2em and the letter spacing to 3 pixels. */
    caption {
        caption-side: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        letter-spacing: 3px;
    }

    /*Heading cell elements creates a style rule that changes the background color to rgb(154, 64, 3) and the text color to white. */
    th {
        background: rgb(154, 64, 3);
        color: white;
    }
}
